
.enseña{

    font-weight: bold;
    color:#e14eca;
}

.aprende{

font-weight: bold;
    color:#e14eca;

}
.img-fluid{
    animation: movimiento 2.5s linear infinite;
}

.texto{
    
    
    
    position:absolute;
    bottom: -150;
    animation: texto 15s linear infinite;



}

.texto:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 25s;
    animation-delay: 15s;

}


.texto:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 30s;
    animation-delay: 20s;
    
}
.texto:nth-child(3){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 15s;
    animation-delay: 25s;
    
    
}

.texto:nth-child(4){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 10s;
    animation-delay: 10s;


}





@keyframes texto{

0%{
    bottom: 0;
    opacity: .5;
}
30%{
    transform: translateX(-200px);
}
50%{
    opacity: .5;
}
100%{
    bottom: 100vh;
    opacity: .5;
}

}

.texto2{
    
    position:absolute;
    bottom: -300;
    animation: texto2 15s linear infinite;
}

.texto2:nth-child(1){
    width: 80px;
    height: 80px;
    left: 30%;
    animation-duration: 25s;
    animation-delay: 20s;

}


.texto2:nth-child(2){
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 30s;
    animation-delay: 15s;
    


}
.texto2:nth-child(3){
    width: 50px;
    height: 50px;
    left: 40%;
    animation-duration: 20s;
    animation-delay: 10s;
    


}

.texto2:nth-child(4){
    width: 50px;
    height: 50px;
    left: 40%;
    animation-duration: 30s;
    animation-delay: 20s;
    


}














@keyframes texto2{

0%{
    bottom: 0;
    opacity: .5;
}
30%{
    transform: translateX(600px);
}
50%{
    opacity: .5;
}
100%{
    bottom: 100vh;
    opacity: .5;
}

}

@keyframes movimiento {

    0%{
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
    
}